.globalError{
    background-color: #000;
    height: 100dvh;
    overflow-x: hidden;

   
}

.titleError{
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;

    width: 90%;
    margin: 0 auto;
    margin-top: 7dvh;
    height: 43vh;

    img{
        border-radius: 50px;
        border: rgba($color: #fff, $alpha: 0.8) 2px dotted;
        width: 70%;
        max-width: 350px;
        max-height: 230px;
        object-fit: cover;
    }

    div{
        width: 30%;
    }

    h2{
        font-size: 80px;
        font-weight: 400;
        text-align: center;
    }

    h3 p{
        font-family: 'Gallery Modern';
        font-size: 60px;
        font-weight: 200;
        text-align: center;
    }


}


.scrollingRedirections{

    width: 100%;
    height: 50dvh;
    color: #fff;
    overflow-x: hidden;
    cursor: pointer;

    a{
        text-decoration: none;
        overflow-x: hidden;
    }

    .leftToRightProject{
        display: flex;
        align-items: center;
        gap: 300px;

        animation: LeftToRightProject 20s infinite linear;
    }

    .rightToLeftAbout{
        display: flex;
        align-items: center;
        gap: 300px;

        animation: RightToLeftAbout 15s infinite linear;
    }

    .leftToRightResume{
        display: flex;
        align-items: center;
        gap: 300px;

        animation: LeftToRightResume 30s infinite linear;

    }



    .scroll{
        white-space: nowrap;
        padding: 20px 0;
        transition: all 0.5s ease-in-out;
        background: #000;
        color: #fff;

        &:hover{
            background: #fff;
            color: #000;
            border-top: 10px solid #000;
            border-bottom: 10px solid #000;
        }
    }

    .scrollwhite{
        white-space: nowrap;
        background: #fff;
        padding: 20px 0;
        transition: all 0.5s ease-in-out;

        color: #000;
        background: #fff;

        &:hover{
            background: #000;
            color: #fff;
            border-top: 10px solid #fff;
            border-bottom: 10px solid #fff;
        }
    }


    .galleryWord{
        font-family: 'Gallery Modern';
        font-size: 70px;
    }

    .poppinsWord{
        font-size: 60px;
        text-decoration: underline;
    }
   
}



@keyframes LeftToRightProject {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-2820px)
    }

}

@keyframes RightToLeftAbout {
    from {
        transform: translateX(-2411px)
    }

    to {
        transform: translateX(-12px)
    }

}

@keyframes LeftToRightResume {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-2734px)
    }

}


@media (max-width : 1000px){

    .titleError{

    
        h2{
            font-size: 60px;
        }
    
        h3 p{

            font-size: 40px;
        }
    
    
    }




}


@media (max-width : 750px){


    .titleError{
    
        img{
            width: 50%;
        }
    
        div{
            width: 55%;
        }
    
        h2{
            font-size: 50px;
        }
    
        h3 p{
            font-size: 30px;
        }
    
    
    }


    .scrollingRedirections{

        .leftToRightProject{
            gap: 200px;
        }
    
        .rightToLeftAbout{
            gap: 200px;
        }
    
        .leftToRightResume{
            gap: 200px;
        }

        .galleryWord{
            font-size: 50px;
            padding-left: 20px;
        }
    
        .poppinsWord{
            font-size: 40px;
        }
       
    }

    
@keyframes LeftToRightProject {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-2880px)
    }

}

@keyframes RightToLeftAbout {
    from {
        transform: translateX(-2454px)
    }

    to {
        transform: translateX(-12px)
    }

}

@keyframes LeftToRightResume {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-2790px)
    }

}

}