.globalError{
    background-color: #000;
    height: 100vh;
}

.titleError{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    color: #fff;

    width: 80%;
    margin: 0 auto;
    height: 60vh;

    img{
        border-radius: 50px;
        border: rgba($color: #fff, $alpha: 0.8) 2px dotted;
        width: 30%;
        max-width: 450px;
        max-height: 300px;
        object-fit: cover;
    }

    h2{
        font-size: 160px;
        font-weight: 400;
    }

    h3 p{
        font-family: 'Gallery Modern';
        font-size: 100px;
        font-weight: 200;
        text-align: center;
    }


}


.scrollingRedirections{

    width: 100%;
    height: 40vh;
    color: #fff;
    overflow: hidden;
    cursor: pointer;

    a{
        text-decoration: none;
    }

    .leftToRightProject{
        display: flex;
        gap: 300px;

        animation: LeftToRightProject 20s infinite linear;
    }

    .rightToLeftAbout{
        display: flex;
        gap: 300px;

        animation: RightToLeftAbout 15s infinite linear;
    }

    .leftToRightResume{
        display: flex;
        gap: 300px;

        animation: LeftToRightResume 30s infinite linear;

    }



    .scroll{
        white-space: nowrap;
        padding: 20px 0;
        transition: all 0.5s ease-in-out;
        background: #000;
        color: #fff;

        &:hover{
            background: #fff;
            color: #000;
            border-top: 10px solid #000;
            border-bottom: 10px solid #000;
        }
    }

    .scrollwhite{
        white-space: nowrap;
        background: #fff;
        padding: 20px 0;
        transition: all 0.5s ease-in-out;

        color: #000;
        background: #fff;

        &:hover{
            background: #000;
            color: #fff;
            border-top: 10px solid #fff;
            border-bottom: 10px solid #fff;
        }
    }


    .galleryWord{
        font-family: 'Gallery Modern';
        font-size: 80px;
    }

    .poppinsWord{
        font-size: 70px;
        text-decoration: underline;
    }
   
}



@keyframes LeftToRightProject {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-2551px)
    }

}

@keyframes RightToLeftAbout {
    from {
        transform: translateX(-1080px)
    }

    to {
        transform: translateX(-12px)
    }

}

@keyframes LeftToRightResume {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-2280px)
    }

}


@media (max-width : 1000px){

    .titleError{
        display: flex;
        gap: 30px;
        position: relative;
        transform: translateY(-15%);
    
        img{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    
        h2{
            font-size: 100px;
        }
    
        h3 p{
            font-size: 60px;
        }
    
    
    }

}