@import '../pages/1_Home/home';
@import '../pages/2_Achievements/achievements';
@import '../pages/3_Project/project';
@import '../pages/4_AboutMe/aboutme';
@import '../pages/5_Resume/resume';
@import '../pages/6_Error404/error';


@import '../components/Header/header';
@import '../components/Preview/preview';
@import '../components/ConicRedirection/conicRedirection';



@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


@font-face {
  font-family: "Gallery Modern";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GalleryModern.otf") format("opentype");
};


*, *::before, *::after {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //border: red 1px solid;
  }

  #root{
    height: 100dvh;
}

