.globalTravelSwitch{

    .basicHeader{


        button{
            display: none !important;
        }
    }
}



.globalTSHome{

    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

        h1{
            font-size: 120px;
            font-weight: 500;
            font-family: "Vallen Gaye";
            color: #DF7373;
            margin-top: 5dvh;
        }

        .blockSwitch{

            position: relative;
            margin: 10dvh 0;
            

            .switchLogoHome{
                width: 250px;
            }

            .arrowLoopHome{
                position: absolute;
                top: 25%;
                left: 110%;

                transform: rotate(-20deg);

                width: 100px;
                image-orientation: revert;
            }

            p{
                position: absolute;
                top: 25%;
                left: 145%;

                width: 250px;
                text-align: center;
                font-size: 22px;
            }

        }


}


.globalTSEnd{

    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    padding-bottom: 20dvh;
    text-align: center;


    h1{
        font-size: 120px;
        font-weight: 500;
        font-family: "Vallen Gaye";
        color: #DF7373;
    }

    h2{
        font-size: 25px;
        text-align: center;
        margin-top: 5dvh;
    }

    .homeRedirection{
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer;
    }

    p{
        font-size: 15px;
    }
}



@media (max-width : 1000px){

    .globalTSHome{
    
            h1{
                font-size: 100px;
            }
    
            .blockSwitch{

                .switchLogoHome{
                    width: 200px;
                }
    
                .arrowLoopHome{
                    top: 35%;
                    left: 110%;
    
                }
    
                p{
                    left: 150%;
                    top: 50%;
    
                    width: 20dvw;
                    font-size: 16px;
                }
    
            }
    
    
    }
    
    
    .globalTSEnd{
    
    
        h1{
            font-size: 100px;
        }
    
        h2{
            font-size: 20px;
        }
    
        .homeRedirection{
            font-size: 18px;
        }
    
        p{
            font-size: 15px;
        }
    }
    

  }

  @media (max-width : 700px){

    .globalTSHome{
    
            h1{
                font-size: 80px;
            }
    
            .blockSwitch{

                .switchLogoHome{
                    width: 35dvw;
                    min-width: 160px;
                }
    
                .arrowLoopHome{
                 display: none;
                }
    
                p{
                  position: relative;
                  top: 0;
                  left: 0;
                  width: 100%;
                  text-align: center;
                  margin-top: 30px;
                }
    
            }
    
    
    }
    
    
    .globalTSEnd{
    
    
        h1{
            font-size: 70px;
        }
    
        h2{
            font-size: 24px;
        }
    
        .homeRedirection{
            font-size: 18px;
        }
    
        p{
            font-size: 13px;
        }
    }

  }